.main-about{
    background-image: linear-gradient(rgba(250, 233, 250, 0.933), #ecebeb );
    width: 100%;
    margin: auto;
}
.main-about h1{
    margin-top: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    font-weight: bold;
    padding: 20px;    
}

.about{
    width:960px;
    margin:auto;
}

.img-about {
    margin: auto;
    width: 40%;
    padding: 20px;
}

p{
    font-family: 'Noto Sans', sans-serif;
    display: inline-block;
    font-size: 24px;
    width: 40%;
    padding: 20px;
    vertical-align:top;
    margin-top: 50px;
    text-indent: 18px;
    text-align: justify;
}



